<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>mindbook</title>
		<meta name="description" content="Worthy a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="css/animations.css" rel="stylesheet">

		<!-- Worthy core CSS file -->
		<link href="css/style.css" rel="stylesheet">

		<!-- Custom css --> 
		<link href="css/custom.css" rel="stylesheet">
	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix navbar navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">

							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" src="images/logo.png" alt="Worthy"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-name-and-slogan smooth-scroll">
								<div class="site-name"><a href="#banner">mindbook</a></div>
								<div class="site-slogan">el espacio de trabajo perfecto <a target="_blank" href="https://github.com/alu0100696691/mindbook">github</a></div>
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-8">

						<!-- header-right start -->
						<!-- ================ -->
						<div class="header-right clearfix">

							<!-- main-navigation start -->
							<!-- ================ -->
							<div class="main-navigation animated">

								<!-- navbar start -->
								<!-- ================ -->
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li class="active"><a href="#banner"><i class="fa fa-home"></i>Inicio</a></li>
												<li><a href="#about"><i class="fa fa-info"></i>Acerca</a></li>
												<li><a href="#services"><i class="fa fa-globe"></i>Servicios</a></li>
												<li><a href="#portfolio"><i class="fa fa-user"></i>Acceder</a></li>
												<li><a href="#clients"><i class="fa fa-medkit"></i>Info</a></li>
												<li><a href="#contact" id="contacto"><i class="fa fa-envelope"></i>Contacto</a></li>
											</ul>
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->

						</div>
						<!-- header-right end -->
						<div id="aviso" class="text-center">                  
                					<%= styled_flash %>             
        					</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- banner start -->
		<!-- ================ -->
		<div id="banner" class="banner">
			<div class="banner-image"></div>
			<div class="banner-caption">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
							<h1 class="text-center">Somos <span>MindBook</span></h1>
							<p class="lead text-center">Crea desde listas cortas hasta investigaciones más largas. No importa cómo sea tu trabajo, Mindbook te ayuda a transformar tus ideas desde el momento en que las concibes hasta que las finalizas.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 id="about" class="title text-center">Acerca <span>mindbook</span></h1>
						<p class="lead text-center">Mindbook aplicación informática cuyo objetivo es la organización de información personal mediante el archivo de notas.</p>
						<div class="space"></div>
						<div class="row">
							<div class="col-md-6">
								<img src="images/section-image-1.png" alt="">
								<div class="space"></div>
							</div>
							<div class="col-md-6">
								<p>Lleve sus cosas consigo en sus equipos, tabletas y teléfonos. Podrá usarlo en cualquier dispositivo y en la Web.</p>
								<p>Colabore con amigos, familia, compañeros de clase y colegas de trabajo. Comparta sus blocs de notas con otras personas para que puedan verlos o editarlos.</p>
								<ul class="list-unstyled">
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> También en tablet y móvil</li>
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Te damos algunas ideas de uso</li>
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Apuntalo en el calendario</li>
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Tareas realizadas</li>
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Comparte las notas</li>
								</ul>
							</div>
						</div>
						<div class="space"></div>
						<h2>Todas tus notas en todos tus dispositivos</h2>
						<div class="row">
							<div class="col-md-6">
								<p>Lleve sus cosas consigo en sus equipos, tabletas y teléfonos. Podrá usar Mindbook en cualquier dispositivo y en la Web.</p>
								<p>Colabore con amigos, familia, compañeros de clase y colegas de trabajo. Comparta sus blocs de notas con otras personas para que puedan verlos o editarlos.</p>
								<p>Bien sea que desees crear notas para tu uso personal o compartir cualquier codigo o texto con algun amig@ en Internet nunca fue tan facil y rápido! Con nuestro servicio puedes almacenar cualquier tipo de texto, desde texto plano pasando por codigo HTML, PHP y demas codigos de programacion. Copia y pega textos entre computadores sin limitaciones. Sin Registrarse ni pagar un centavo! Empieza a escribir tu nota ahora llenando el formulario de abajo.</p>
							</div>
							<div class="col-md-6">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													Bloc de notas
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												¿Necesitas un bloc de notas para apuntar tus cosas? ¿Buscas una solución rápida y eficiente? En ese caso, prueba Mindbook, un gestor de notas con el que podrás anotar cualquier cosa sin perder el tiempo.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													¿Que mas ofrece? 
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												Desde ideas o simples anotaciones a listas de elementos o recordatorios. Concretamente, con Mindbook podrás crear nuevas notas, listas o recordatorios, programar avisos en el tiempo, organizar notas por colores, organizar listados alfabéticamente o por fecha de creación e incluso buscar.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
													¿Es facil?
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												Para crear una nota con Mindbook basta con presionar uno de los botones de la barra superior. Añade un título y el texto. Cuando hayas terminado, vuelve atrás para guardar la nota automáticamente.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section translucent-bg bg-image-1 blue">
			<div class="container object-non-visible" data-animation-effect="fadeIn">
				<h1 id="services"  class="text-center title">Servicios mindbook</h1>
				<div class="space"></div>
				<div class="row">
					<div class="col-sm-6">
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Guardar</h4>
								<p>Guardar tus notas de forma online, las tendrás en todas partes, mas nunca de olvidarás de nada, lleva contigo todo el conocimiento.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-cog"></i>
							</div>
						</div>
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Buscar</h4>
								<p>Buscar notas, nunca ha sido mas facil, disfruta del potente motor de busqueda que ofrece Mindbook, busca por titulo, descripción, contenido.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-check"></i>
							</div>
						</div>
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Compartir</h4>
								<p>Comparte tus notas, nunca ha sido tan facil, enseñar a alguien, con un simple click, tus compañeros de trabajo dispondrán de tus notas.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-desktop"></i>
							</div>
						</div>
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Editar</h4>
								<p>Disfruta del mas avanzado editor de texto online del mercado, con una amplia paleta de herramientas, tus notas luciran como nunca.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-users"></i>
							</div>
						</div>
					</div>
					<div class="space visible-xs"></div>
					<div class="col-sm-6">
						<div class="media">
							<div class="media-left">
								<i class="fa fa-leaf"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Perfil</h4>
								<p>Controla los datos de tu cuenta, en cualquier momento podrás configurar tu cuenta de ususario, y todo de forma gratuita.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left">
								<i class="fa fa-area-chart"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Contactar</h4>
								<p>Ponte en contacto con nosotros, dispones de un formulario de contacto, donde te esperamos para ayudarte en el mejor tiempo posible.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left">
								<i class="fa fa-child"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Internet</h4>
								<p>Puedes acceder a Mindbook desde cualquier dispositivo, todas tus notas estarán sincronizadas y listas los 365 días del año.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left">
								<i class="fa fa-codepen"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Seguridad</h4>
								<p>Funciones de seguridad mejoradas, todos tus datos, son confidenciales, no te preocupes por la seguridad, nosotros lo hacemos por ti.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="default-bg space blue">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="text-center">Trabaja con personas, no con archivos!</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section">
			<div class="container">
				<h1 class="text-center title" id="portfolio">Registro</h1>
				<div class="separator"></div>
				<p class="lead text-center">Mindbook es un sistema abierto a la consulta libre y gratuita de cualquier internauta. <br> sin embargo muchas de las funcionalidades disponibles requieren registrarse como usuario. <br> Igualmente el registro de usuario es libre y gratuito.</p>
				<div class="centered">
					<a href="/registro" class="btn btn-primary btn-lg active" role="button">SIGN UP</a>
				</div>
				<br>			
				<div class="row object-non-visible" data-animation-effect="fadeIn">
					<div class="col-md-12">
						
						<form class="form-horizontal" role="form" method="post" action="/loginUsuario" id="login-form" name="login-form">
  							<div class="form-group">
    								<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    								<div class="col-sm-10">
      									<input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
    								</div>
  							</div>
  							<div class="form-group">
    								<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    								<div class="col-sm-10">
      									<input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
    								</div>
  							</div>
  							<div class="form-group">
    								<div class="col-sm-offset-2 col-sm-10">
      									<div class="checkbox">
        									<label>
          										<input type="checkbox"> Remember me
        									</label>
      									</div>
    								</div>
  							</div>
  							<div class="form-group">
    								<div class="col-sm-offset-2 col-sm-10">
      									<button type="submit" class="btn btn-primary" id="signIn" name="signIn">Sign in</button>
    								</div>
  							</div>
						</form>
					
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section translucent-bg bg-image-2 pb-clear">
			<div class="container object-non-visible" data-animation-effect="fadeIn">
				<h1 id="clients" class="title text-center">Info</h1>
				<div class="space"></div>
				<div class="row">
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img src="images/testimonial-1.png" alt="">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Úsalo en todas partes!</h3>
								<blockquote>
									<p>Sus notas se mantengan actualizados en todos tus dispositivos. No hay botones que presionar. Simplemente funciona..</p>
									<footer>el espacio de trabajo <cite title="Source Title">perfecto</cite></footer>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img src="images/testimonial-2.png" alt="">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Mantente organizado</h3>
								<blockquote>
									<p>Encuentra notas rápidamente con búsqueda instantánea y etiquetas simples.</p>
									<footer>el espacio de trabajo <cite title="Source Title">perfecto</cite></footer>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img src="images/testimonial-3.png" alt="">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Trabajar juntos</h3>
								<blockquote>
									<p>Comparte una lista, publicar algunas instrucciones, o publicar sus pensamientos.</p>
									<footer>el espacio de trabajo <cite title="Source Title">perfecto</cite></footer>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img src="images/testimonial-2.png" alt="">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Retrocede en el tiempo</h3>
								<blockquote>
									<p>Sus notas se almacenarán cuando se los cambie. Sólo tienes que arrastrar el control deslizante versión de ir atrás en el tiempo.</p>
									<footer>el espacio de trabajo <cite title="Source Title">perfecto</cite></footer>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img src="images/testimonial-3.png" alt="">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Búsquedas instantáneas</h3>
								<blockquote>
									<p>Escribe lo que estás buscando, y su lista se actualiza al instante. Usted nunca extravía un importante pensamiento nuevo.</p>
									<footer>el espacio de trabajo <cite title="Source Title">perfecto</cite></footer>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img src="images/testimonial-1.png" alt="">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Es gratis!</h3>
								<blockquote>
									<p>Las copias de seguridad, sincronizar, compartir - todo es completamente gratis.</p>
									<footer>el espacio de trabajo <cite title="Source Title">perfecto</cite></footer>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- section start -->
			<!-- ================ -->
			<div class="translucent-bg blue">
				<div class="container">
					<div class="list-horizontal">
						<div class="row">
							<div class="col-xs-2">
								<div class="list-horizontal-item">
									<img src="images/client-1.png" alt="client">
								</div>
							</div>
							<div class="col-xs-2">
								<div class="list-horizontal-item">
									<img src="images/client-2.png" alt="client">
								</div>
							</div>
							<div class="col-xs-2">
								<div class="list-horizontal-item">
									<img src="images/client-3.png" alt="client">
								</div>
							</div>
							<div class="col-xs-2">
								<div class="list-horizontal-item">
									<img src="images/client-4.png" alt="client">
								</div>
							</div>
							<div class="col-xs-2">
								<div class="list-horizontal-item">
									<img src="images/client-5.png" alt="client">
								</div>
							</div>
							<div class="col-xs-2">
								<div class="list-horizontal-item">
									<img src="images/client-6.png" alt="client">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- section end -->
		</div>
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="default-bg space">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="text-center">10000+ Happy Clients!</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

		<!-- footer start -->
		<!-- ================ -->
		<footer id="footer">

			<!-- .footer start -->
			<!-- ================ -->
			<div class="footer section">
				<div class="container">
					<h1 class="title text-center" id="contact">Contacto</h1>
					<div class="space"></div>
					<div class="row">
						<div class="col-sm-6">
							<div class="footer-content">
								<p class="large"><b>Universidad de la Laguna</b>, proyecto de la asignatura Sistemas y Tecnologías Web. Proyecto estudiantil.</p>
								<p class="large">María Belén Armas Torres, Jose Antonio Rodríguez Leandro y Noelia Rodríguez Martín.</p>
								<ul class="list-icons">
									<li><i class="fa fa-map-marker pr-10"></i> One infinity loop, 54100</li>
									<li><i class="fa fa-phone pr-10"></i> +00 1234567890</li>
									<li><i class="fa fa-fax pr-10"></i> +00 1234567891 </li>
									<li><i class="fa fa-envelope-o pr-10"></i> your@email.com</li>
								</ul>
								<ul class="social-links">
									<li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/HtmlCoder/714570988650168"><i class="fa fa-facebook"></i></a></li>
									<li class="twitter"><a target="_blank" href="https://twitter.com/HtmlcoderMe"><i class="fa fa-twitter"></i></a></li>
									<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
									<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
									<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
									<li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
									<li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
									<li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="footer-content">
								<form role="form" id="footer-form">
									<div class="form-group has-feedback">
										<label class="sr-only" for="name2">Nombre</label>
										<input type="text" class="form-control" id="name2" placeholder="Nombre" name="nombre" required>
										<i class="fa fa-user form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="email2">Dirección Email</label>
										<input type="email" class="form-control" id="email2" placeholder="Dirección email" name="email" required>
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="message2">Mensaje</label>
										<textarea class="form-control" rows="8" id="message2" placeholder="Mensaje" name="mensaje" required></textarea>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
									<input type="submit" id="enviar2" value="Enviar" class="btn btn-default">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .footer end -->

			<!-- .subfooter start -->
			<!-- ================ -->
			<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright © 2014 mindbook by <a target="_blank" href="https://github.com/alu0100696691/mindbook">github</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->

		</footer>
		<!-- footer end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
		
		<!-- Backstretch javascript -->
		<script type="text/javascript" src="plugins/jquery.backstretch.min.js"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>

	</body>
</html>
