.modal-footer {   border-top: 0px; }

body {
    background-image: url("../img/fondo.jpg");
}

/* Flash notices */     
      
#flash {
  margin-bottom: 20px;         
} 
    
#flash .flash {                
  font-size: 14px;             
  font-weight: bold;           
  display: block;              
  padding: 5px 10px;           
  background-color: #d8eaef;   
} 
 
#flash .flash.notice {
  background-color: #ffd35e;
}
 
#flash .flash.error {
  color: #821515;
  background-color: #ffacac;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

